a[href="https://www.google.es/"] {
color: purple;
}

a[href="https://www.youtube.com/"] {
color: black;
}

a[href="https://www.marca.com/"] {
color: blue;
}

a[href="https://open.spotify.com/"] {
color: green;
}

a[href="https://www.netflix.com/es/"] {
color: red;
}


a:hover{

  border: 3px solid black;
  background-color: pink;
}
